section {
    padding: 40px 0px;
}

.sliders{
    background-color: #F8E5E5;
}



.watch{
    background-color: #FFA500;
    
}

.bags{
    background-color: #801C80;

}

.shoes{
    background-color: #001FFF;
    
}

.product-card{
    width: 300px;
    box-shadow:  5px 5px 20px 2px;

    
}

.footer-sec{
    background-color: #FAE6E4;
}


